/***======== EN COMMUN =========***/
body {
    font-family:        'Open Sans', sans-serif;
    position:           relative;
}
h1, h2, h3, .titleLogo {
    font-family:        'Shadows Into Light', cursive;
    margin-bottom:      40px;
    margin-top:         40px;
}
.mtt100 {
    margin-top :        100px;
}

/***======== ACCUIEL =========***/
.mdr-accueil {
    left :              35%;
    position:           absolute;
    top :               20%;
}
.mdr-accueil h1 {
    color:            #ffffff;
    font-size:          50px;
    margin-bottom:      50px;
}
.mdr-accueil input {
    border:             2px solid #5d6162;
    height :            50px;
    width:              50%;
}
.mdr-accueil input[value] {
    color:             #5d6162;
}
.articles-home {
    margin-top:         50px;
}
.article-home h2 {
    margin-top:         80px;
}
.img-article-home > img{
    width:              100%;
}
.row-articles {
    margin-bottom:      30px;
}
.img-article-home div img:hover {
    background-color: black;
    cursor: pointer;
    opacity: 0.5;
}
/***======== FOOTER =========***/
footer{
    bottom:             0;
    padding-top: 50px;
    width:              100%;
}
.social {
    cursor: default;
    box-sizing: border-box;
	border-radius: 3px;
    padding: 15px 0;
	text-align: center;
}
.fa {
    margin-left: 15px;
    margin-right: 15px;
}
.navbar{
    border-radius:      0px;
    border:             0px;
    background-color : #ffffff;
    margin-bottom:      0px;
}